@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .font-roboto-mono {
    font-family: "Roboto Mono", monospace;
  }
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

.mySwiper .swiper-slide {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-pagination {
  bottom: 0 !important;
  padding-bottom: 10px;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #27272a;
  opacity: 0.6;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #170bbd;
  opacity: 1;
}

html.dark .custom-swiper-pagination .swiper-pagination-bullet {
  background-color: #a1a1aa;
  opacity: 0.6;
}

html.dark .custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0bbdbd;
  opacity: 1;
}
